<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selling</title>
  <link rel="stylesheet" href="../static/css/pimp.css">
</head>
<body>
<div class="top">
  <h1>BrandName</h1>
  <button>Home</button>
  <button>Product</button>
  <button>Pricing</button>
  <button>Contact</button>
  <button>Login</button>
  <button>Join Us</button>
</div>
<div class="mid">
  <h1>welcome</h1>
  <h2>Selling on the internet like a pro</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Amet dignissimos, doloribus illum iusto maiores
    quidem quos saepe ullam ut voluptas?
    Consequuntur cum fugiat id neque nobis quibusdam saepe similique sunt!</p>
  <button>Get quick acsses</button>
  <button>learn more</button>
</div>
<div class="bottom">
  <div class="left">

  </div>
  <div class="center"></div>
  <div class="right"></div>
</div>
</body>
</html>